@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel


<div class="text-center">
    <div>
        <h1>Book List</h1>
    </div>

    @*Splitting the data into groups of two so that it can be displayed in rows of 2 columns*@
    @{
        var batches = Model.Books
            .Select((x, i) => new { x, i })
            .GroupBy(p => (p.i / 2), p => p.x);
    }
    <div>
        @foreach (var row in batches)
        {
            @*CONTAINER IS ANOTHER COMMAND*@
            <div class="container m-1 p-1">
                <div class="row justify-content-around">
                    @foreach (var b in row)
                    {
                        //Adding a partial view, BookSummary.cshtmml in the shared folder
                        <partial name="BookSummary" model="b" />
                    }
                </div>
            </div>
        }
    </div>



<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
        page-class-normal="btn-outline-dark"
        page-class-selected="btn-primary"
        page-url-category="@Model.CurrentCategory"
        class="btn-group pull-right m-1">

</div>



</div>




@*<div class="text-center">
    <h1>Book List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification/Category</th>
                <th>Number of Pages</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Books)
            {
                <tr>
                    <td>@x.BookTitle</td>
                    <td>@x.AuthorFirstName @x.AuthorMiddleName @x.AuthorLastName</td>
                    <td>@x.BookPublisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Classification, @x.Category</td>
                    <td>@x.NumPages</td>
                    <td>$@x.Price</td>
                </tr>
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1">

    </div>



</div>*@
